 // This file contains the WiFi credentials

#ifndef CREDENTIALS_H
#define CREDENTIALS_H

const char* ssid = "<SSID>";
const char* password = "<PASSWORD>";
const char* server_ip = "<server_ip>";
const int server_port = <Port>

#endif