.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 12px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.footer {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.main-container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.side-menu {
  width: 180px;
}

.page-content {
  padding-left: 12px;
}


.station-title {
  font-size: 40px;
  font-weight: 600;
}

.station-info {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}